[alias]
oss = !git config user.name NegatioN && git config user.email joakimrishaug@gma$
work = !git config user.name Joakim && git config user.email joakim.rishaug@fin$
oc = !git clone $1 && cd $(basename $1 .git) && git oss
